Package: com.dao.lockbuttonx
Name: LockButtonX(RootHide)
Version: 0.0.1
Architecture: iphoneos-arm
Description: 将刘海/灵动岛设备的长按电源键呼出Siri改回电源菜单，无设置，安装生效。
Maintainer: Nightwind
Author: Nightwind
Section: 嗨-工具
Depends: ${ORION}, firmware (>= 12.4)
Conflicts: com.nightwind.lockbuttonx

