Package: com.dao.powersettings
Name: PowerSettings 简体中文版(rootless)
Version: 0.0.1
Architecture: iphoneos-arm
Description: 将电源菜单(注销、重启等)添加到“设置”右上角！
Maintainer: Nightwind& 刀刀
Author: Nightwind
Section: 嗨-工具
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 13.0)
Conflicts: com.nightwind.powersettings

